---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="h-full p-5 flex flex-col items-center justify-center">
    <div
      class="flex flex-col items-center justify-center rounded-md w-2/3 p-5"
    >
      <h1 class="text-8xl font-bold text-neutral-200">404</h1>
      <p class="text-xl text-neutral-300">
        Was this my fault? Or are you trying to find an easter egg?
      </p>
      <a
        href="/"
        class="text-blue-400 hover:text-blue-500 hover:underline px-4 py-2 rounded-sm my-2 text-lg"
        >Go back to the homepage</a
      >
    </div>
  </div>
</Layout>
