---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div class="bg-gray-300 h-full p-5 flex flex-col items-center justify-center">
    <div
      class="flex flex-col items-center justify-center bg-white shadow-md rounded-md w-2/3 p-5"
    >
      <h1 class="text-8xl font-bold">404</h1>
      <p class="text-xl text-gray-800">
        Was this my fault? Or are you trying to find an easter egg?
      </p>
      <a
        href="/"
        class="bg-slate-600 text-neutral-200 px-4 py-2 rounded-sm my-2 hover:bg-slate-700"
        >Go back to the homepage</a
      >
    </div>
  </div>
</Layout>
