---
import Layout from "@/layouts/Layout.astro";
import ProjectCard from "@/components/project/ProjectCard.astro";
import { getCollection } from "astro:content";
import Contact from "@/components/Contact.tsx";
import Tag from "@/components/LargeTag.tsx";

const projects = await getCollection("projects").then((projects) =>
  projects.map((project) => ({
    ...project.data,
    priority: project.data.priority || 0,
  }))
);
const featuredProjects = projects
  .sort((a, b) => b.priority - a.priority)
  .slice(0, 3);

const skills = ["C++", "Python", "TypeScript", "JavaScript", "React", "Node.js", "OpenGL", "SQL", "Postgres", "Docker", "Java", "Tailwind", "Next.js", "Astro", "Linux", "Git", "GitHub", "ExpressJS", "ThreeJS"];
---

<Layout title="Home">
  <div>
    <div
      class="rounded-md border-[1px] border-gray-200 flex flex-row p-4 m-3 items-center justify-between"
    >
      <div class="flex items-center">
        <img
          src="/profile.jpg"
          alt="Alexander Bui"
          class="rounded-full h-16 w-16 bg-black p-1"
        />
        <div class="flex flex-col ml-4">
          <div class="font-bold text-lg">Alexander Bui</div>
          <div class="text-gray-500 text-sm">Computer Engineering Freshman</div>
        </div>
      </div>
      <Contact client:load />
    </div>
    <div
      class="md:flex md:flex-row text-black place-content-center m-5 gap-5 relative"
    >
      <div class="grow">
        <h1 class="text-4xl font-bold w-fit">Howdy!</h1>
        <p class="text-black text-lg">
          I'm Alex, a developer and student currently studying Computer
          Engineering at{" "}
          <span class="font-bold text-maroon-400">Texas A&M University</span>.
          Currently, I'm interested in graphics programming and the intersections
          of high-performance computing and hardware.
          I'm currently working on a few projects, including an OpenGL rendering
          engine and a crowdsourced event platform for the Texas A&M campus.
        </p>
      </div>
      <!-- <div class="my-3 md:my-0 shrink-0 hidden md:block mx-6">
        <img
          src="/profile.jpg"
          alt="logo"
          class="rounded-2xl h-min bg-black p-1 m-auto md:w-[200px] md:h-[200px] w-[300px]"
        />
      </div> -->
    </div>
    <!--<div class="m-5">-->
    <!--  <h1 class="text-2xl font-bold">Skills</h1>-->
    <!--  <div class="flex flex-wrap gap-2 mt-2">-->
    <!--    {skills.map((skill) => <Tag text={skill} />)}-->
    <!--  </div>-->
    <!--</div>-->
    <div class="md:w-full flex my-3 justify-center">
      <div class="grow-0 py-3 px-5" id="projects">
        <h3 class="text-3xl font-bold">Featured Projects</h3>
        <h4 class="text-gray-600 text-sm">
          View a longer list of my projects <a
            href="/projects"
            class="text-blue-400 hover:text-blue-500 hover:underline">here</a
          >.
        </h4>
        <div
          class="md:grid md:grid-cols-3 md:items-start flex flex-col gap-2 w-full my-3"
        >
          {featuredProjects.map((project) => <ProjectCard project={project} />)}
        </div>
      </div>
    </div>
    <!-- <div class="md:w-full flex my-3">
      <div class="grow-0 py-3 px-5" id="projects">
        <h3 class="text-3xl font-bold">Latest Blog Posts</h3>
      </div>
    </div> -->
  </div>
</Layout>
