---

---

<div
  class="prose 
    prose-h1:font-bold 
    prose-h1:text-4xl 
    prose-h1:mb-2

    prose-h2:text-3xl 
    prose-h2:mb-2 

    prose-h3:text-xl 
    prose-h3:mb-2 

    prose-h4:text-lg 
    prose-h4:mb-2 

    prose-h5:text-base 
    prose-h5:mb-2 

    prose-h6:text-sm 
    prose-h6:mb-2

    prose-a:text-blue-600 
    prose-img:rounded-xl

    prose-headings:font-bold 
    lg:prose-md 
    max-w-none 
    prose-p:mb-5
    prose-headings:mt-5
    prose-headings:mb-3
    prose-p:text-black
    prose-p:font-medium
    ">
  <slot />
</div>