---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import ProjectList from "@/components/project/ProjectList.astro";

const projects = await getCollection("projects").then((projects) =>
  projects
    .map((project) => ({
      ...project.data,
      priority: project.data.priority || 0,
    }))
    .sort((a, b) => b.priority - a.priority)
);
---

<Layout>
  <div class="p-5">
    <div class="my-2">
      <h1 class="text-4xl font-bold">Projects</h1>
      <h3 class="">
        A full list of my projects can be found on my{" "}
        <a
          class="text-blue-500 underline"
          href="https://github.com/zanbowie138"
        >
          Github
        </a>
        .
      </h3>
    </div>
    <ProjectList projects={projects} />
  </div>
</Layout>
