---
import Header from "@/components/Header";
import Footer from "@/components/Footer";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <link rel="icon" href="/favicon.ico" sizes="any" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
      integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ"
      crossorigin="anonymous"
    />
    <title>{title}</title>
  </head>
  <body class="bg-zinc-900 justify-center flex min-h-screen">
    <div
      class="w-full lg:h-fit lg:w-[950px] lg:my-4 flex flex-col text-neutral-200"
    >
      <Header client:load />
      <div class="lg:rounded-b-md flex flex-col grow">
        <div class="grow"><slot /></div>
        <Footer />
      </div>
    </div>
  </body>
</html>
